{% extends "layout.html" %}
{% load static %}}

{% block index %}

<body>

    <nav class="container-fluid navbar justify-content-center align-items-end" data-bs-theme="dark"
        style="height: 230px; background-color:#0d0d0e93; z-index: 6; position:absolute">
        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Active</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>

    <div id="carouselExampleFade" class="carousel slide carousel-fade" style="height: 100vh;">
        <div class="carousel-inner">


            <div class="carousel-item active">
                <img class="card-img-top pb-1 img_lat" src="/media/{{carrousel_main_image.image}}" />
            </div>

            {% for carrousel in images_carrousel %}
            <div class="carousel-item">
                <img class="card-img-top pb-1 img_lat" src="/media/{{carrousel.image}}" />
            </div>
            <!--             
            <div class="carousel-item">
                <img class="card-img-top pb-2 img_lat" src="https://picsum.photos/700/401?random" />
            </div>
            
            <div class="carousel-item">
                <img class="card-img-top pb-3 img_lat" src="https://picsum.photos/700/390?random" />
            </div> -->
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


    <section>
        <div class="d-flex justify-content-center align-items-center" style="height: 300px;">
            <div>
                <img src="https://picsum.photos/200/200?random" class="rounded float-start" alt="...">
            </div>
            <div>
                <h2 style="margin-right: 20px; margin-left: 20px;"> VS </h2>
            </div>
            <div>
                <img src="https://picsum.photos/200/200?random" class="rounded float-start" alt="...">
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <div style="margin-bottom: 22px; margin-right: 10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-calendar-event" viewBox="0 0 16 16">
                    <path d="M11 6.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z" />
                    <path
                        d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4H1z" />
                </svg>
            </div>
            <h5 style="margin-bottom: 20px;"> {{proximo_partido.fecha_partido}}</h5>
        </div>

    </section>


    <section class=" d-flex justify-content-center align-items-center table_section">
        <table class="table table-dark table-striped" style="width: 50%; margin-top: 30px;">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">6</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">7</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">8</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">4</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">5</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">6</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">7</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

                <tr>
                    <th scope="row">8</th>
                    <td colspan="2">Larry the Bird</td>
                </tr>

            </tbody>
        </table>

    </section>

    <section class="section_player">
        <!-- <h1 style="color: white">HOLA SECTION PLAER</h1> -->
        <div class="d-flex justify-content-center align-items-center">

            {% for jugador in jugadores %}
            <div class="card card_player">
                <img src="/media/{{jugador.imagen}}" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">{{jugador.nombre}} {{jugador.apellido}} <br /> {{jugador.posicion}}</p>
                </div>
            </div>
            {% endfor %}

        </div>

        <div class=" d-flex justify-content-center align-items-center">
            <button type="button" class="btn btn-dark" style="margin-top: 20px; margin-bottom: 20px;">Ver
                jugadores</button>

        </div>
    </section>
    <footer class="d-flex justify-content-center align-items-center background_gradient" style="height:200px">

        <img src="https://picsum.photos/100/100?random" class="footer_card rounded float-start">

        <img src="https://picsum.photos/100/100?random" class="footer_card rounded float-start">

        <img src="https://picsum.photos/100/100?random" class="footer_card rounded float-start">
    </footer>

</body>

{% endblock %}