
.footer_card {
    margin-left: 20px;
    margin-right: 20px;
}

footer {
    margin-top: 20px;
}



.background_gradient {
    background: linear-gradient(45deg,
            rgba(36, 110, 15, 1) 12%,
            rgba(16, 48, 102, 1) 18%,
            rgba(75, 140, 63, 1) 84%);
    background-blend-mode: normal;
}