.nav_text_color {
    color: white;
}

.mi_navbar {
    position: absolute;
    z-index: 2;
}


.main_section {
    position: absolute;
    z-index: 1;

}

.table_section {
    background-image: url('https://picsum.photos/400/400?random');
    
}

.section_player {
    background-color: black;
}

.card_player{
    margin-left: 30px;
    margin-right: 30px;
    background-color: black;
    color: white;
    width: 18rem;
    margin-top: 2rem;

    // background: linear-gradient(
    //     45deg,
    //     rgba(16, 48, 102, 1) 16%,
    //     rgba(45, 80, 168, 1) 54%,
    //     rgba(45, 80, 168, 1) 93%
    //   );
    //   background-blend-mode: normal;
}

.footer_card {
    margin-left: 20px;
    margin-right: 20px;

}

.background_gradient {
    background: linear-gradient(
        45deg,
        rgba(36, 110, 15, 1) 12%,
        rgba(16, 48, 102, 1) 18%,
        rgba(75, 140, 63, 1) 84%
      );
    background-blend-mode: normal;
}