.nav_text_color {
    font: normal bolder 22px/1 "proxima-nova";
    // letter-spacing: 3px;
    // text-shadow: 3px 0px 0px rgba(255, 247, 247, 0.3);
    color: white;
}

.mi_navbar {
    position: absolute;
    z-index: 2;
}

