{% extends "layout.html" %}
{% load static %}

{% block index %}

<body style="background-color: black;">

    <div class="container-fluid col-8" style="position: static;">
        <div style="height: 200px;"></div>


        <!-- TODO: CARGAR TODOS LOS JUGADORES EN ADMIN -->
        <div class="row">
            {% for jugador in jugadores %}
            <div class="col">
                <div class="card card_player">
                    <img src="/media/{{jugador.imagen}}" class="card-img-top img_card">
                    <div class="card-body ">
                        <p class="card-text">{{jugador.nombre}} {{jugador.apellido}} <br /> {{jugador.posicion}}</p>
                    </div>
                </div>

            </div>
            {% endfor %}

            {% for jugador in jugadores %}
            <div class="col">
                <div class="card card_player">
                    <img src="/media/{{jugador.imagen}}" class="card-img-top img_card">
                    <div class="card-body">
                        <p class="card-text">{{jugador.nombre}} {{jugador.apellido}} <br /> {{jugador.posicion}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

            {% for jugador in jugadores %}
            <div class="col">
                <div class="card card_player">
                    <img src="/media/{{jugador.imagen}}" class="card-img-top img_card">
                    <div class="card-body">
                        <p class="card-text">{{jugador.nombre}} {{jugador.apellido}} <br /> {{jugador.posicion}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </div>

</body>

{% endblock %}